<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="page-head-content">
        <h1 class="page-title">FAQ PAge</h1>
      </div>
    </div>
  </div>
</div>
<!-- End page header -->

<div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
  <div class="container">
    <div class="row">
      <div class="blog-lst col-md-12 pl0">
        <section class="post">
          <div class="text-center padding-b-50">
            <h2 class="wow fadeInLeft animated"> Tin Tức BĐS Mới nhất 2020</h2>
            <div class="title-line wow fadeInRight animated"></div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <p class="author-category">

                <a href="blog.html">TP.HCM chuẩn bị đầu tư hàng loạt dự án giao thông  </a>
              </p>
            </div>
            <div class="col-sm-6 right">
              <p class="date-comments">
                <a href="single.html"><i class="fa fa-calendar-o"></i> June 20, 2020</a>
                
              </p>
            </div>
          </div>
          <div class="image wow fadeInLeft animated">
            <a href="single.html">
              <img src="../../../assets/img/tt1.jpg" class="img-responsive" alt="Example blog post alt">
            </a>
          </div>
          <p class="text-justify">Chính quyền TP.HCM sẽ trình HĐND thành phố danh mục 8 công trình trọng điểm với tổng mức đầu
            tư hơn 33.000 tỷ đồng.Ngày 4/6, HĐND TP.HCM và Ban Quản lý đầu tư xây dựng các công trình giao thông đã có
            buổi làm việc về các dự án hạ tầng trọng điểm chuẩn bị đầu tư trong những năm tới.

            Giám đốc Ban Quản lý dự án, ông Lương Minh Phúc cho biết, hiện ban đang quản lý 252 dự án từ nhiều nguồn vốn
            khác nhau. Trong năm 2020, Ban đã xây dựng kế hoạch thực hiện các dự án trọng điểm. Trong đó, hoàn tất các
            thủ tục khởi công 31 gói thầu, dự án; hoàn tất thủ tục trình phê duyệt, điều chỉnh dự án 18 dự án đầu tư;
            thi công 59 dự án và phấn đấu hoàn thành 32 dự án.</p>
          <p class="read-more">
            <a href="single.html" class="btn btn-default btn-border">Continue reading</a>
          </p>
        </section>

        <section class="post">


          <div class="row">
            <div class="col-sm-6">
              <p class="author-category">

                <a href="blog.html">Thất thu thuế từ hàng nghìn căn hộ chung cư</a>
              </p>
            </div>
            <div class="col-sm-6 right">
              <p class="date-comments">
                <a href="single.html"><i class="fa fa-calendar-o"></i> June 19, 2020</a>

              </p>
            </div>
          </div>
          <div class="image wow fadeInLeft animated">
            <a href="single.html">
              <img src="assets/img/tt2.jpg" class="img-responsive" alt="Example blog post alt">
            </a>
          </div>
          <p class=" text-justify">Kinh doanh “chui”, nhà nước thất thu thuế

            Như VietNamNet phản ánh, hiện nay các căn hộ tại nhiều dự án chung cư, condotel... đang được các chủ hộ tự
            hoạt động kinh doanh, cho thuê du lịch đặc biệt các tỉnh, thành phố phát triển mạnh về du lịch như Đà Nẵng,
            Quảng Ninh, Nha Trang… Nhà đầu tư mua căn hộ khách sạn (condotel) nhưng không kết hợp với công ty quản lý mà
            tự kinh doanh cho thuê hay tại nhiều chung cư, căn hộ để ở lại cho khách du lịch thuê như khách sạn.

            Khảo sát thực tế tại khu chung cư Mường Thanh Viễn Triều, nhân viên một sàn giao dịch bất động sản đặt ngay
            kiot dưới chân khu nhà cho hay, ở đây có khoảng 50% căn hộ chung cư đang được sử dụng để ở, 50% còn lại là
            cho thuê. Việc cho thuê căn hộ ở đây có thể do nhà đầu tư tự cho thuê hoặc ký gửi tại các sàn.</p>
          <p class="read-more">
            <a href="single.html" class="btn btn-default btn-border">Continue reading</a>
          </p>
        </section>

        <section class="post">


          <div class="row">
            <div class="col-sm-6">
              <p class="author-category">

                <a href="blog.html">Khách thuê nhà rời đi mang hết đồ đạc</a>
              </p>
            </div>
            <div class="col-sm-6 right">
              <p class="date-comments">
                <a href="single.html"><i class="fa fa-calendar-o"></i> June 16, 2020</a>
                
              </p>
            </div>
          </div>
          <div class="image wow fadeInLeft animated">
            <a href="single.html">
              <img src="assets/img/blog1.jpg" class="img-responsive" alt="Example blog post alt">
            </a>
          </div>
          <p class=" text-justify">Khách thuê nhà rời đi mang theo toàn bộ đồ điện gia dụng trong nhà. Chủ nhà vô cùng bực tức
            nhưng lại khá bất ngờ trước lí lẽ của khách thuê. Chắc chắn rất nhiều người khi ra xã hội đi làm đã từng
            phải thuê nhà và cũng có rất nhiều kinh nghiệm, hiểu biết về vấn đề này, đặc biệt là những người phải thuê
            nhà ở các thành phố lớn thì càng có sự trải nghiệm sâu sắc hơn.

            Khi chuyển tới nhà thuê, chúng ta không được làm hư hỏng, tổn hại tới đồ đạc sẵn có của ngôi nhà. Quan trọng
            nhất là không được tiến hành cải tạo mở rộng nhà thuê.

            Kể cả việc cải tạo sửa chữa cũng phải được sự đồng ý của chủ nhà, hơn nữa, không được coi những đồ sẵn có
            trong căn nhà là của mình, chiếm làm của riêng. Tất nhiên, khi khách thuê không thuê nữa, đồ đạc cũng phải
            để lại cùng với quyền sử dụng căn nhà. Thế nhưng, khi cô Tô đến kiểm tra lại căn hộ đã thực sự bị kinh ngạc.

            Chủ nhà cho biết, vấn đề này thật sự nằm ngoài dự đoán của tất cả mọi người, trong suốt bao nhiêu năm cho
            thuê nhà cũng chưa từng gặp phải sự việc như thế.

            Chủ nhà cũng cho hay, bản thân cô vẫn còn lưu 1 tờ danh sách các đồ gia dụng trong nhà, trong đó mô tả chi
            tiết tình trạng của các thiết bị trong căn nhà, nhưng khi cô đến nhận lại nhà từ khách thuê, căn nhà này
            trống hơ trống hoác.</p>
          <p class="read-more">
            <a href="single.html" class="btn btn-default btn-border">Continue reading</a>
          </p>
        </section>
        <section class="post">


          <div class="row">
            <div class="col-sm-6">
              <p class="author-category">

                <a href="blog.html">Hà Nội công bố 10 dự án nhà ở người nước ngoài </a>
              </p>
            </div>
            <div class="col-sm-6 right">
              <p class="date-comments">
                <a href="single.html"><i class="fa fa-calendar-o"></i> June 14, 2020</a>
      
              </p>
            </div>
          </div>
          <div class="image wow fadeInLeft animated">
            <a href="single.html">
              <img src="assets/img/tt4.jpg" class="img-responsive" alt="Example blog post alt">
            </a>
          </div>
          <p class=" text-justify">Sở Xây dựng Hà Nội vừa công bố danh sách 10 dự án nhà ở cho phép tổ chức, cá nhân nước ngoài
            được sở hữu.

            Theo đó, quận Hà Đông đứng đầu danh sách với 5 dự án, gồm: Công trình nhà ở cao tầng tại lô đất ký hiệu CT6
            (khối A và B) - Khu đô thị mới Dương Nội (khu A), phường Dương Nội do Công ty cổ phần Tập đoàn Nam Cường Hà
            Nội làm chủ đầu tư; Tòa nhà hỗn hợp Đài Phát thanh và Truyền hình Hà Nội tại thửa đất ký hiệu 14, lô VIII,
            Khu trung tâm hành chính quận Hà Đông (phường Hà Cầu) do Công ty cổ phần Đầu tư xây dựng và thương mại Phú
            Thịnh làm chủ đầu tư; Dự án đầu tư xây dựng khu C - Khu đô thị mới Kiến Hưng (phường Kiến Hưng) do liên danh
            Công ty cổ phần Đầu tư phát triển đô thị Kiến Hưng, Công ty cổ phần Đầu tư phát triển Hợp Phú và Công ty cổ
            phần Đầu tư phát triển Tín Phú làm chủ đầu tư; Chung cư cao tầng thuộc dự án Khu đô thị mới Lê Trọng Tấn -
            Park City (phường La Khê) do Công ty cổ phần Phát triển đô thị quốc tế Việt Nam làm chủ đầu tư; Dự án Khu đô
            thị mới Văn Khê mở rộng (phường La Khê) do Công ty cổ phần Sông Đà - Thăng Long làm chủ đầu tư. Quận Nam Từ
            Liêm có 3 dự án: Tòa nhà HH2-1A của công trình chung cư HH2-1 thuộc dự án Công viên giải trí, trường học và
            tổ hợp nhà ở, thương mại dịch vụ Golden Palace A (phường Mễ Trì, phường Phú Đô) do Công ty cổ phần Đầu tư
            Mai Linh làm chủ đầu tư; Dự án tổ hợp căn hộ cao cấp và văn phòng làm việc Dolphin Plaza (phường Mỹ Đình 2)
            do Công ty cổ phần TID làm chủ đầu tư; Dự án Keangnam Hanoi Landmark Tower (phường Mễ Trì) do Tập đoàn
            Keangnam (Hàn Quốc) làm chủ đầu tư.

            Quận Thanh Xuân có 1 dự án là công trình hỗn hợp dịch vụ, văn phòng và nhà ở (số 25 đường Lê Văn Lương,
            phường Nhân Chính) do Công ty cổ phần Dịch vụ và kinh doanh bất động sản Hà Nội làm chủ đầu tư.

            Dự án nhà ở cao tầng, văn phòng lưu trú, căn hộ du lịch và thương mại Eco Park View (Đơn nguyên A-khối căn
            hộ) tại một phần lô đất ký hiệu D14-Khu đô thị mới Cầu Giấy (ngõ 19 phố Duy Tân) nằm tại địa bàn hai phường
            Dịch Vọng Hậu (quận Cầu Giấy) và phường Mỹ Đình 2 (quận Nam Từ Liêm).

            Trước đó vào tháng 11/2019, Sở Xây dựng Hà Nội cũng công khai 16 dự án nhà trên địa bàn thành phố mà người
            nước ngoài được phép mua. Trong đó, có 2 dự án tại quận Thanh Xuân, 4 dự án tại quận Hà Đông, 3 dự án tại
            quận Long Biên, 2 dự án tại quận Cầu Giấy và 5 dự án nằm trên địa bàn các quận, huyện: Bắc Từ Liêm, Nam Từ
            Liêm, Hoàn Kiếm, Ba Đình, Gia Lâm.</p>
          <p class="read-more">
            <a href="single.html" class="btn btn-default btn-border">Continue reading</a>
          </p>
        </section>

      </div>
    </div>

  </div>
</div>
