<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="page-head-content">
        <h1 class="page-title">Giới thiệu chung</h1>
      </div>
    </div>
  </div>
</div>
<!-- End page header -->

<div
  class="content-area blog-page padding-top-40"
  style="background-color: #fcfcfc; padding-bottom: 55px;"
>
  <div class="container">
    <div class="row">
      <div class="blog-lst col-md-9 p0">
        <section id="id-100" class="post single">
          <div class="post-header single">
            <div class="">
              <h2 class="wow fadeInLeft animated">GARO ESTATE</h2>
              <div class="title-line wow fadeInRight animated"></div>
            </div>
            <div class="row wow fadeInRight animated">
              <div class="col-sm-6">
                <p class="author-category">
                  &nbsp; <a href="#">Vươn tầm ước mơ</a>
                </p>
              </div>
              <div class="col-sm-6 right">
                <p class="date-comments">
                  <a href="single.html"
                    ><i class="fa fa-calendar-o"></i> June 20, 2020</a
                  >
                </p>
              </div>
            </div>
            <div class="image wow fadeInRight animated">
              <img
                src="assets/img/blog2.jpg"
                class="img-responsive"
                alt="Example blog post alt"
              />
            </div>
          </div>

          <div
            id="post-content"
            class="post-body single wow fadeInLeft animated"
          >
            <p>
              <strong>Garo estate</strong>
              đã khẳng định được vị thế của mình trở thành nhà phát triển bất
              động sản hạng sang theo tiêu chuẩn quốc tế. Bằng tư duy mới về
              kiến trúc nhà ở và tiềm lực tài chính minh bạch, chúng tôi không
              ngừng nỗ lực xây dựng một định nghĩa mới cho dòng sản phẩm nhà ở
              tại Việt Nam cũng như trên toàn Đông Nam Á.
            </p>



            <h4>ĐỘI NGŨ LÃNH ĐẠO</h4>
            <section id="comments" class="comments wow fadeInRight animated">
              <div class="row comment">
                <div class="col-sm-3 col-md-2 text-center-xs">
                  <p>
                    <img
                      src="assets/img/client-face1.png"
                      class="img-responsive img-circle"
                      alt=""
                    />
                  </p>
                </div>
                <div class="col-sm-9 col-md-10">
                  <h5 class="text">Nguyễn Văn Tân</h5>
                  <p class="cvuldaohai">
                    TỔNG GIÁM ĐỐC ĐIỀU HÀNH
                  </p>
                  <p class="text-justify">
                    “Với tôi, ngôi nhà không chỉ đơn giản là nơi để ở mà nó phải
                    là một FASHION HOME - một biểu tượng của thời trang, của
                    nghệ thuật kiến trúc nhà ở. Từ những vật liệu xa xỉ nhất đến
                    việc ứng dụng những mô hình đô thị tân tiến trên thế giới
                    vào các dự án sẽ thay đổi hoàn toàn hình ảnh Đất Xanh Miền
                    Trung trong tương lai và tạo ra những công trình kiến trúc
                    hiện đại và đỉnh cao cho ngành bất động sản Việt Nam”
                  </p>

                </div>
              </div>
              <!-- /.comment -->

              <div class="row comment last">
                <div class="col-sm-3 col-md-2 text-center-xs">
                  <p>
                    <img
                      src="assets/img/client-face2.png"
                      class="img-responsive img-circle"
                      alt=""
                    />
                  </p>
                </div>

                <div class="col-sm-9 col-md-10">
                  <h5 class="text">Nguyễn Hoàng Anh</h5>
                  <p class="cvuldaohai">
                    PHÓ GIÁM ĐỐC
                  </p>
                  <p class="text-justify">
                    “Muốn tạo ra giá trị cho từng mảnh đất thì cần một đội ngũ phát triển sáng tạo, và chúng tôi đang hiện thực hóa giấc
                    mơ mang đến những mảnh đất đẹp, những ngôi nhà khang trang đến với từng gia đình. Điều bạn mong muốn chúng tôi thay bạn thực hiện”
                  </p>
                </div>
              </div>
            </section>
            <!-- vvvvv -->
            <div class="row tong_dnldao" id="Doi_ngu_lanh_dao">
              <div class="dnlanhdao_hai">
                <div class="col-md-2 col-sm-2 col-xs-2 itemldao_nohot">
                  <div class="itemhaild">
                    <img
                      src="https://www.datxanhmientrung.com/uploads/article/200x200pham-van-vien-1567561551.png"
                    />
                    <p class="cvuldaohai">
                      GIÁM ĐỐC KHỐI <br />
                      VẬN HÀNH
                    </p>
                    <p class="nameldhai">Phạm Văn Viên</p>
                  </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 itemldao_nohot">
                  <div class="itemhaild">
                    <img
                      src="https://www.datxanhmientrung.com/uploads/article/200x200tran-ngoc-thai-1567561558.png"
                    />
                    <p class="cvuldaohai">
                      GIÁM ĐỐC KHỐI ĐẦU TƯ &amp; PHÁT TRIỂN QUỸ ĐẤT
                    </p>
                    <p class="nameldhai">Trần Ngọc Thái</p>
                  </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 itemldao_nohot">
                  <div class="itemhaild">
                    <img
                      src="https://www.datxanhmientrung.com/uploads/article/200x200trinh-thu-trang-1567561565.jpg"
                    />
                    <p class="cvuldaohai">GIÁM ĐỐC PHÁT TRIỂN KINH DOANH</p>
                    <p class="nameldhai">Trịnh thu trang</p>
                  </div>
                </div>
              </div>
              <div class="dnlanhdao_hai1">
                <div class="col-md-2 col-sm-2 col-xs-2 itemldao_nohot1">
                  <div class="itemhaild">
                    <img
                      src="https://www.datxanhmientrung.com/uploads/article/200x200le-thanh-hong-1567561582.png"
                    />
                    <p class="cvuldaohai">
                      GIÁM ĐỐC ĐIỀU HÀNH CÔNG TY TNHH MỘT THÀNH VIÊN SMART
                    </p>
                    <p class="nameldhai">Lê Thanh Hồng</p>
                  </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 itemldao_nohot1">
                  <div class="itemhaild">
                    <img
                      src="https://www.datxanhmientrung.com/uploads/article/200x200tran-hoai-nam-1589510331.png"
                    />
                    <p class="cvuldaohai">
                      GIÁM ĐỐC VẬN HÀNH VÀ PHÁT TRIỂN THƯƠNG MẠI CÔNG TY
                      PROPERTY
                    </p>
                    <p class="nameldhai">Trần Hoài Nam</p>
                  </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 itemldao_nohot1">
                  <div class="itemhaild">
                    <img
                      src="https://www.datxanhmientrung.com/uploads/article/200x200tran-xuan-thong-1572597677.jpg"
                    />
                    <p class="cvuldaohai">
                      TỔNG GIÁM ĐỐC CÔNG TY CỔ PHẦN ĐÔ THỊ THÔNG MINH VIỆT NAM
                    </p>
                    <p class="nameldhai">Trần Xuân</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- vvvv -->

            <blockquote>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                magna. Cras in mi at felis aliquet congue. Ut a est eget ligula
                molestie gravida. Curabitur massa. Donec eleifend, libero at
                sagittis mollis, tellus est malesuada tellus, at luctus turpis
                elit sit amet quam. Vivamus pretium ornare est.
              </p>
            </blockquote>

            <h4 class="text-uppercase wow fadeInLeft animated">GIẢI THƯỞNG ĐẠT ĐƯỢC</h4>

            <p class="text-justify">
             Với những cống hiến của toàn thể cán bộ nhân viên của công ty, trong 10 năm thành lập và phát triển
             <b>Garo State</b> đã vinh dự nhận được nhiều giải thưởng danh giá, đó là sự minh chứng cho sự nổ lực
             không ngừng để mang đến những giá trị hàng đầu cho bất động sản.
            </p>

            <ul>
              <li><b>The Dot Property Vietnam Awards</b></li>
              <i>"giải thưởng này được tổ chức thường niên, nhằm vinh danh những đơn vị đã có đóng góp
                lớn cho diện mạo của thị trường bất động sản Việt Nam. Đây là một trong những giải quốc gia có tiếng"</i>
              <li><b>Property Guru Vietnam Property Awards</b></li>
              <i>"Property Guru Vietnam Property Awards là giải thưởng nằm trong chuỗi giải thưởng Bất động sản Châu Á,
                được tổ chức thường niên với những hạng mục tôn vinh về thiết kế, chủ đầu tư, dự án và những sản phẩm bất
                 động sản khác có sự phát triển đột phá trong xây dựng và thiết kế cũng như những dịch vụ chăm sóc khách hàng,
                 trách nhiệm xã hội và phát triển bền vững."</i>
            </ul>
            <p>
              <img
                src="assets/img/giaithuong.png"
                class="img-responsive"
                alt="Example blog post alt"
              />
            </p>
            <p>
              Pellentesque habitant morbi tristique senectus et netus et
              malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat
              vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit
              amet quam egestas semper. Aenean condimentum, eros ipsum rutrum
              orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis
              pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus
              faucibus, tortor neque egestas augue, eu vulputate magna eros eu
              erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan
              porttitor, facilisis luctus, metus
            </p>
          </div>
          <div class="post-footer single wow fadeInBottum animated">
            <ul class="pager">
              <li class="previous">
                <a href="#"><i class=""></i>← Older </a>
              </li>
              <li class="next disabled">
                <a href="#">Newer →<i class=""></i> </a>
              </li>
            </ul>
          </div>
        </section>

        <section class="about-autor"></section>



        <section id="comment-form" class="add-comments">
          <h4 class="text-uppercase wow fadeInLeft animated">Leave comment</h4>
          <form>
            <div class="row wow fadeInLeft animated">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name"
                    >Name <span class="required">*</span>
                  </label>
                  <input class="form-control" id="name" type="text" />
                </div>
              </div>
            </div>

            <div class="row wow fadeInLeft animated">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="email"
                    >Email <span class="required">*</span>
                  </label>
                  <input class="form-control" id="email" type="text" />
                </div>
              </div>
            </div>

            <div class="row wow fadeInLeft animated">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="comment"
                    >Comment <span class="required">*</span>
                  </label>
                  <textarea
                    class="form-control"
                    id="comment"
                    rows="4"
                  ></textarea>
                </div>
              </div>
            </div>

            <div class="row wow fadeInLeft animated">
              <div class="col-sm-12 text-right">
                <button class="btn btn-primary">
                  <i class="fa fa-comment-o"></i> Post comment
                </button>
              </div>
            </div>
          </form>
        </section>
      </div>

      <!-- --------- -->

      <div class="blog-asside-right col-md-3">
        <div class="panel panel-default sidebar-menu wow fadeInRight animated">
          <div class="panel-heading">
            <h3 class="panel-title">Text widget</h3>
          </div>
          <div class="panel-body text-widget">
            <p>
              Improved own provided blessing may peculiar domestic. Sight house
              has sex never. No visited raising gravity outward subject my
              cottage mr be. Hold do at tore in park feet near my case.
            </p>
          </div>
        </div>

        <div class="panel panel-default sidebar-menu wow fadeInRight animated">
          <div class="panel-heading">
            <h3 class="panel-title">Search</h3>
          </div>
          <div class="panel-body">
            <form role="search">
              <div class="input-group">
                <input class="form-control" placeholder="Search" type="text" />
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-smal">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>

        <div class="panel panel-default sidebar-menu wow fadeInRight animated">
          <div class="panel-heading">
            <h3 class="panel-title">Recommended</h3>
          </div>
          <div class="panel-body recent-property-widget">
            <ul>
              <li>
                <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                  <a href="single.html"
                    ><img src="assets/img/demo/small-property-2.jpg"
                  /></a>
                  <span class="property-seeker">
                    <b class="b-1">A</b>
                    <b class="b-2">S</b>
                  </span>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                  <h6><a href="single.html">Super nice villa </a></h6>
                  <span class="property-price">3000000$</span>
                </div>
              </li>
              <li>
                <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                  <a href="single.html"
                    ><img src="assets/img/demo/small-property-1.jpg"
                  /></a>
                  <span class="property-seeker">
                    <b class="b-1">A</b>
                    <b class="b-2">S</b>
                  </span>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                  <h6><a href="single.html">Super nice villa </a></h6>
                  <span class="property-price">3000000$</span>
                </div>
              </li>
              <li>
                <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                  <a href="single.html"
                    ><img src="assets/img/demo/small-property-3.jpg"
                  /></a>
                  <span class="property-seeker">
                    <b class="b-1">A</b>
                    <b class="b-2">S</b>
                  </span>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                  <h6><a href="single.html">Super nice villa </a></h6>
                  <span class="property-price">3000000$</span>
                </div>
              </li>

              <li>
                <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                  <a href="single.html"
                    ><img src="assets/img/demo/small-property-2.jpg"
                  /></a>
                  <span class="property-seeker">
                    <b class="b-1">A</b>
                    <b class="b-2">S</b>
                  </span>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                  <h6><a href="single.html">Super nice villa </a></h6>
                  <span class="property-price">3000000$</span>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel sidebar-menu wow fadeInRight animated">
          <div class="panel-heading">
            <h3 class="panel-title">Tags</h3>
          </div>
          <div class="panel-body">
            <ul class="tag-cloud">
              <li>
                <a href="#"><i class="fa fa-tags"></i> html5</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-tags"></i> css3</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-tags"></i> jquery</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-tags"></i> ajax</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-tags"></i> php</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-tags"></i> responsive</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-tags"></i> visio</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-tags"></i> bootstrap</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
