<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Submit new property</h1>
            </div>
        </div>
    </div>
</div>

<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form>
            <h2>Fill out your name</h2>
            <form [formGroup]="firstFormGroup">
                <div class="form-group">
                    <label for="email">Name</label>
                    <input style="width: 30%;" type="text" placeholder="Last name, First name"
                           formControlName="firstCtrl" required
                           class="form-control" id="email">
                </div>
            </form>
            <div>
                <button class="btn btn-default" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
        <ng-template matStepLabel><h3>Địa chỉ</h3></ng-template>
        <form>
            <ng-template matStepLabel>Hãy viết địa chỉ</ng-template>
            <form [formGroup]="secondFormGroup">
                <div class="form-group">
                    <label>Address</label>
                    <input style="width: 30%;" type="text" formControlName="secondCtrl"
                           placeholder="Ex. 1 Main St, New York, NY"
                           required class="form-control">
                </div>
            </form>
            <div>
                <button class="btn btn-default" matStepperPrevious>Back</button>
                <button class="btn btn-default" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><h3>Done</h3></ng-template>
        <h2>You are now done.</h2>
        <div>
            <button class="btn btn-default" matStepperPrevious>Back</button>
            <button class="btn btn-default" (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
