<div id="desc-container" style="display:none">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/iQKdlSdm1qA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div style="color: pink">Trường THPT Minh Hóa</div>
    <div style="color: pink"> Trường học thần thiện học sinh tích cực.</div>
</div>

<div id="desc-container2" style="display:none">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-VwtK7ZDI8M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div style="color: pink">Trường THPT Minh Hóa</div>
    <div style="color: pink"> Mô Phỏng Không Gian ( Nguồn:Voyage).</div>
</div>

<div id="desc-container3" style="display:none">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/OmdH1pTT4oo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div style="color: pink">Trường THPT Minh Hóa</div>
    <div style="color: pink">Hội Khỏe Phù Đổng. Phần thi: Nhảy Cao.</div>
</div>


<div id="desc-container4" style="display:none">
    <iframe width="560" height="315" src="http://www.thpt-minhhoa-quangbinh.edu.vn/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div style="color: pink">Trường THPT Minh Hóa</div>
    <div style="color: pink">Trường học thần thiện học sinh tích cực.</div>
</div>

<div id="desc-container5" style="display:none">
    <iframe width="560" height="315" src="http://www.thptminhhoa.quangbinh.qlth.vn/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div style="color: pink">Trường THPT Minh Hóa</div>
    <div style="color: pink">Trường học thần thiện học sinh tích cực.</div>
</div>

<div id="desc-container6" style="display:none">
    <div style="color: pink">Dãy Phòng Học với...</div>
    <div style="color: pink">Trường học thần thiện học sinh tích cực.</div>
</div>

<div id="desc-container7" style="display:none">
    <div style="color: pink">'Trường THPT Minh Hóa thành lập năm 1965, nằm ở phía Tây Bắc của Tỉnh Quảng Bình. '</div>
    <div style="color: pink">Tọa lạc trên tuyến Quốc lộ 12A thuộc TK9,TT Quy Đạt, huyện Minh Hóa.</div>
</div>

<div id="desc-container8" style="display:none">
    <div style="color: pink">'Sân bóng chuyền trường THPT Minh Hóa kích thước đúng tiêu chuẩn:dài 18m, rộng 9m; Cột căng giữ lưới cao 2,55m đảm bảo để chiều cao lưới bóng chuyền nam là 2.43m và của nữ là 2.24m'</div>
</div>

<div id="desc-container9" style="display:none">
    <div style="color: pink">'Dãy Hiệu Bộ: Với 4 phòng làm việc của Lãnh đạo nhà trường và 4 phòng công vụ'</div>
</div>

<div id="desc-container10" style="display:none">
    <iframe width="560" height="315" src="https://foba.vn/huong-dan/luat-thi-dau-bong-da/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div style="color: pink">Trường THPT Minh Hóa</div>
    <div style="color: pink"> Luật Bóng Đá .</div>
</div>

<div id="desc-container11" style="display:none">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1ID5BiVX68c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div style="color: pink">Trường THPT Minh Hóa</div>
    <div style="color: pink"> Trường học thần thiện học sinh tích cực.</div>
</div>
