<div class="header-connect">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-8  col-xs-12">
                <div class="header-half header-call">
                    <p>
                        <span><i class="pe-7s-call"></i> +1 234 567 7890</span>
                        <span><i class="pe-7s-mail"></i> fxteam@gmail.com</span>
                    </p>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                <div class="header-half header-social">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-vine"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default ">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.png" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse yamm" id="navigation">
            <div class="button navbar-right">
                <button class="navbar-btn nav-button wow bounceInRight login" routerLink="/login"
                        data-wow-delay="0.45s">Đăng nhập
                </button>
                <button class="navbar-btn nav-button wow fadeInRight" routerLink="/register"
                        data-wow-delay="0.48s">Đăng xuất
                </button>
            </div>
            <ul class="main-nav nav navbar-nav navbar-right">
                <li class="dropdown yamm-fw" data-wow-delay="0.1s">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
                        Sản phẩm<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-offset-3 col-sm-3">
                                        <h5>Dự án</h5>
                                        <ul>
                                            <li>
                                                <a routerLink="/properties">Nhà riêng</a>
                                            </li>
                                            <li>
                                                <a routerLink="/properties">Căn hộ</a>
                                            </li>
                                            <li>
                                                <a routerLink="/properties">Đất nền</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>Cho thuê</h5>
                                        <ul>
                                            <li><a routerLink="/properties">Nhà riêng</a></li>
                                            <li><a routerLink="/properties">Chung cư</a></li>
                                            <li><a routerLink="/properties">Mặt bằng</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.yamm-content -->
                        </li>
                    </ul>
                </li>

                <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="" routerLink="/news">Tin tức</a>
                </li>
                <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                    <a routerLink="/post" class="dropdown-toggle active" data-toggle="dropdown" data-hover="dropdown"
                       data-delay="200">Giới thiệu<b class="caret"></b></a>
                    <ul class="dropdown-menu navbar-nav">
                        <li>
                            <a  routerLink="/post" >Giới thiệu chung</a>
                        </li>
                        <li>
                            <a routerLink="/post" >Nền tảng tâm nhìn</a>
                        </li>
                        <li>
                            <a  routerLink="/post" >Đội ngũ lãnh đạo</a>
                        </li>
                        <li>
                            <a  routerLink="/post" >Sơ đồ tổ chức</a>
                        </li>
                        <li>
                            <a href="index-3.html">Trung tâm giao dịch</a>
                        </li>
                    </ul>
                </li>
                <li class="wow fadeInDown" data-wow-delay="0.5s"><a routerLink="/contact">Liên hệ</a></li>
                <li class="wow fadeInDown" data-wow-delay="0.5s"><a routerLink="/deal/property">Kí gửi</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
